<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"       
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd"
       default-lazy-init="false">

    <!-- This required so that Spring can recognize our annotated beans -->
    <context:annotation-config />

    <!-- ================================== DWR configurations ===================================== -->
    <dwr:annotation-config id="dwrAnnotation" />
    <dwr:annotation-scan base-package="com.iics" scanDataTransferObject="true" scanRemoteProxy="true" />
    <dwr:url-mapping />
    <dwr:controller id="dwrController" debug="true" />
     <mvc:resources mapping="/photos/**" location="file:C://IICS/PHARMACETICALS/photos/patient"/>
     <dwr:configuration />
      
    <!-- This required so that Spring can recognize certain annotations,
        For example @Controller and @Service. Make sure you set the correct base-package
    -->
    <context:component-scan base-package="com.iics" />

    <!-- Configures the annotation-driven Spring MVC Controller programming model.
    Note that, with Spring 3.0, this tag works in Servlet MVC only!  -->
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <!-- Activates various annotations to be detected in bean classes -->
    <context:annotation-config />
     
    <!-- enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Loads Spring Task Scheduler related configurations -->
    <import resource="spring-scheduler.xml" />
      
    <!-- Loads Spring Web-socket configurations <import resource="websocket.xml" />-->
      

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${hibernate.connection.driver_class}" />
        <property name="url" value="${hibernate.connection.url}" />
        <property name="username" value="${hibernate.connection.username}" />
        <property name="password" value="${hibernate.connection.password}" />
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
        
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan">
            <array>
                <value>com.iics.domain</value>
                <value>com.iics.controlpanel</value>
                <value>com.iics.store</value>
                <value>com.iics.patient</value>
                <value>com.iics.devicedomain</value>
                <value>com.iics.filemanger</value>
                <value>com.iics.assetsmanager</value>
                <value>com.iics.scheduleplan</value>
                <value>com.iics.suppliersplatform</value>
                <value>com.iics.antenatal</value>
                <value>com.iics.dashboard</value>
            </array>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">create-drop</prop>-->
                <!--                <prop key="hibernate.hbm2ddl.auto">create-update</prop>-->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hql=debug">true</prop>
                <prop key="hibernate.c3p0.acquire_increment">1</prop>
                <prop key="hibernate.c3p0.idle_test_period">14400</prop><!-- 14400 -->
                <prop key="hibernate.c3p0.timeout">25200</prop><!-- 25200 -->
                <prop key="hibernate.c3p0.max_size">1</prop>
                <prop key="hibernate.c3p0.min_size">1</prop>
                <prop key="hibernate.c3p0.max_statements">1</prop>
                <prop key="hibernate.c3p0.preferredTestQuery">select 1;</prop>
            </props>
        </property>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:hibernate.properties</value>
            </list>
        </property>
    </bean>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>messages</value>
        </property>
    </bean>

    <!-- ******************************************************** -->
<!--    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="com.iics.jpa" />
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
            </bean>
        </property>
    </bean>-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <!-- SMTP settings -->
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="iicstechs4servicedelivery" />
        <property name="password" value=" iicstechs311" />
        <property name="javaMailProperties">
            <!-- additional properties specific to JavaMail -->
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
</beans>
