<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="com.iics.jpa" transaction-type="RESOURCE_LOCAL">
    <jta-data-source>java:/DefaultDS</jta-data-source>
    <class>com.iics.domain.Designation</class>
    <class>com.iics.domain.Nationality</class>
    <class>com.iics.domain.Revinfo</class>
    <class>com.iics.domain.Nextofkin</class>
    <class>com.iics.domain.Systemrole</class>
    <class>com.iics.domain.Maritalstate</class>
    <class>com.iics.domain.Contact</class>
    <class>com.iics.domain.Facility</class>
    <class>com.iics.domain.Designationcategory</class>
    <class>com.iics.controlpanel.Systemmodule</class>
    <class>com.iics.controlpanel.Systemroleprivilege</class>
    <class>com.iics.controlpanel.NotificationReceipient</class>
    <class>com.iics.controlpanel.Privilege</class>
    <class>com.iics.store.Itemcategory</class>
    <class>com.iics.store.Itemcategorisation</class>
    <class>com.iics.store.Item</class>
    <class>com.iics.store.Itemclassification</class>
    <class>com.iics.controlpanel.Stafffacilityunit</class>
    <class>com.iics.controlpanel.Stafffacilityunitroleprivilege</class>
    <class>com.iics.controlpanel.Staffpost</class>
    <class>com.iics.controlpanel.Staffrole</class>
    <class>com.iics.controlpanel.Stafffacilityunitaccessrightprivilege</class>
    <class>com.iics.controlpanel.Accessrightgroupprivilege</class>
    <class>com.iics.controlpanel.Accessrightsgroup</class>
    <class>com.iics.store.Itemform</class>
    <class>com.iics.store.Itemadministeringtype</class>
    <class>com.iics.store.Itemcategories</class>
    <class>com.iics.store.Storagetype</class>
    <class>com.iics.store.Zone</class>
    <class>com.iics.store.Zonebay</class>
    <class>com.iics.store.Storagemechanism</class>
    <class>com.iics.store.Bayrow</class>
    <class>com.iics.store.Bayrowcell</class>
    <class>com.iics.store.Suppliercontactperson</class>
    <class>com.iics.store.Supplier</class>
    <class>com.iics.domain.Locations</class>
    <class>com.iics.store.Financialyear</class>
    <class>com.iics.store.Facilityprocurementplan</class>
    <class>com.iics.patient.Facilityunitblock</class>
    <class>com.iics.store.Supplieritem</class>
    <class>com.iics.store.Supplieritemcategories</class>
    <class>com.iics.patient.Patient</class>
    <class>com.iics.store.Unitstoragezones</class>
    <class>com.iics.store.Shelfstock</class>
    <class>com.iics.store.Stock</class>
    <class>com.iics.store.Facilityunitstock</class>
    <class>com.iics.controlpanel.Facilityschedule</class>
    <class>com.iics.controlpanel.Facilityunitsupplierschedule</class>
    <class>com.iics.controlpanel.Facilityunitsupplier</class>
    <class>com.iics.controlpanel.Facilityunitstoreschedule</class>
    <class>com.iics.controlpanel.Schedule</class>
    <class>com.iics.patient.Searchpatient</class>
    <class>com.iics.domain.Contactdetails</class>
    <class>com.iics.domain.Queuetype</class>
    <class>com.iics.domain.Countrycurrency</class>
    <class>com.iics.domain.Currencyrates</class>
    <class>com.iics.store.Staffbayrowcell</class>
    <class>com.iics.domain.Stafffacilityunit</class>
    <class>com.iics.store.Celltotal</class>
    <class>com.iics.store.Cellitems</class>
    <class>com.iics.store.Staffassignedcell</class>
    <class>com.iics.store.Unitcatalogueitem</class>
    <class>com.iics.store.Unitcatalogue</class>
    <class>com.iics.domain.Person</class>
    <class>com.iics.store.Facilitycatalogue</class>
    <class>com.iics.store.Facilityunitprocurementplan</class>
    <class>com.iics.store.Facilityunitfinancialyear</class>
    <class>com.iics.store.Orderperiod</class>
    <class>com.iics.domain.Questions</class>
    <class>com.iics.domain.Userquestions</class>
    <class>com.iics.store.Activitycell</class>
    <class>com.iics.store.Activitycellitem</class>
    <class>com.iics.store.Stockactivity</class>
    <class>com.iics.controlpanel.Servicetype</class>
    <class>com.iics.controlpanel.Systemroleprivilagefacility</class>
    <class>com.iics.store.Facilityorder</class>
    <class>com.iics.store.Facilityorderitems</class>
    <class>com.iics.controlpanel.Scheduleday</class>
    <class>com.iics.controlpanel.Scheduledaysession</class>
    <class>com.iics.controlpanel.Schedules</class>
    <class>com.iics.controlpanel.Staffassignedrights</class>
    <class>com.iics.domain.Facilityunits</class>
    <class>com.iics.controlpanel.Buildingroom</class>
    <class>com.iics.domain.Worldcountries</class>
    <class>com.iics.domain.Ctrycurrency</class>
    <class>com.iics.assetsmanager.Building</class>
    <class>com.iics.assetsmanager.Blockroom</class>
    <class>com.iics.assetsmanager.Facilityblock</class>
    <class>com.iics.assetsmanager.Assetclassification</class>
    <class>com.iics.assetsmanager.Assetallocation</class>
    <class>com.iics.assetsmanager.Assets</class>
    <class>com.iics.store.Orderitemsview</class>
    <class>com.iics.store.Recountitem</class>
    <class>com.iics.store.Recount</class>
    <class>com.iics.store.Facilityunitquantityordered</class>
    <class>com.iics.store.Facilityfinancialyear</class>
    <class>com.iics.controlpanel.Autoactivityrunsetting</class>
    <class>com.iics.controlpanel.Services</class>
    <class>com.iics.store.Discrepancy</class>
    <class>com.iics.patient.Prescription</class>
    <class>com.iics.patient.Patientvisit</class>
    <class>com.iics.scheduleplan.Staffplan</class>
    <class>com.iics.scheduleplan.Staffplandetail</class>
    <class>com.iics.scheduleplan.Staffservice</class>
    <class>com.iics.scheduleplan.Service</class>
    <class>com.iics.scheduleplan.Servicedayplan</class>
    <class>com.iics.scheduleplan.Batchstaffschedules</class>
    <class>com.iics.assetsmanager.Blockfloor</class>
    <class>com.iics.store.Itemrecount</class>
    <class>com.iics.store.Shelflog</class>
    <class>com.iics.domain.Searchstaff</class>
    <class>com.iics.store.Shelflogstock</class>
    <class>com.iics.store.Stockcount</class>
    <class>com.iics.controlpanel.Facilityprivilege</class>
    <class>com.iics.store.Activityfollowup</class>
    <class>com.iics.assetsmanager.Facilityunitroomservice</class>
    <class>com.iics.assetsmanager.Facilityunitroom</class>
    <class>com.iics.controlpanel.Staffunits</class>
    <class>com.iics.store.Orderissuance</class>
    <class>com.iics.devicedomain.Deviceregistrationrequest</class>
    <class>com.iics.assetsmanager.Facilityunitroom</class>
    <class>com.iics.assetsmanager.Facilityunitroomservice</class>
    <class>com.iics.assetsmanager.Assetstorage</class>
    <class>com.iics.assetsmanager.Facilitylocations</class>
    <class>com.iics.domain.Searchfacility</class>
    <class>com.iics.store.Stocklog</class>
    <class>com.iics.patient.Laboratorytest</class>
    <class>com.iics.patient.Laboratoryrequest</class>
    <class>com.iics.patient.Laboratoryrequesttest</class>
    <class>com.iics.patient.Laboratorytestresult</class>
    <class>com.iics.patient.Triage</class>
    <class>com.iics.domain.Trailcategory</class>
    <class>com.iics.store.Consolidatedorders</class>
    <class>com.iics.patient.Facilityvisitno</class>
    <class>com.iics.patient.Patientmedicalissue</class>
    <class>com.iics.patient.Medicalissue</class>
    <class>com.iics.store.Externalfacilityorders</class>
    <class>com.iics.patient.Labtestclassification</class>
    <class>com.iics.store.Itempackages</class>
    <class>com.iics.store.Packages</class>
    <class>com.iics.store.Facilitycatalogueitem</class>
    <class>com.iics.store.Medicalitem</class>
    <class>com.iics.store.Itempackage</class>
    <class>com.iics.patient.Patientstartisticsview</class>
    <class>com.iics.patient.Testmethod</class>
    <class>com.iics.store.Facilitydonorstock</class>
    <class>com.iics.store.Package</class>
    <class>com.iics.store.Readypackets</class>
    <class>com.iics.patient.Prescriptionitems</class>
    <class>com.iics.store.Donorprogram</class>
    <class>com.iics.store.Donations</class>
    <class>com.iics.store.Donationsitems</class>
    <class>com.iics.store.Facilitydonor</class>
    <class>com.iics.store.Donoritems</class>
    <class>com.iics.controlpanel.Facilityunitschedule</class>
    <class>com.iics.store.Prescriptionissuance</class>
    <class>com.iics.store.Prescriptionissue</class>
    <class>com.iics.patient.Patientobservation</class>
    <class>com.iics.patient.Patientcomplaint</class>
    <class>com.iics.patient.Internalreferral</class>
    <class>com.iics.patient.Prescriptionissueview</class>
    <class>com.iics.assetsmanager.Facilityassets</class>
    <class>com.iics.patient.Diseasesymptom</class>
    <class>com.iics.patient.Symptom</class>
    <class>com.iics.patient.Waitingtime</class>
    <class>com.iics.store.Dispenseditems</class>
    <class>com.iics.store.Facilitystocklog</class>
    <class>com.iics.patient.Patientpause</class>
    <class>com.iics.patient.Visitsymptom</class>
    <class>com.iics.patient.Patientdiagnosis</class>
    <class>com.iics.store.Suppliesorder</class>
    <class>com.iics.store.Suppliesorderitems</class>
    <class>com.iics.store.Suppliesissuance</class>
    <class>com.iics.store.Donationconsumption</class>
    <class>com.iics.patient.Zscores</class>
    <class>com.iics.domain.Facilityunitservicesview</class>
    <class>com.iics.patient.Prescriptionqueue</class>
    <class>com.iics.patient.Unservicedprescriptions</class>
    <class>com.iics.patient.Unservicedprescriptionsview</class>
    <class>com.iics.store.Bookedprescriptionitemsview</class>
    <class>com.iics.patient.Unresolvedprescriptionitems</class>
    <class>com.iics.store.Bookedpackagequantities</class>
    <class>com.iics.patient.Todaydispensingconsumption</class>
    <class>com.iics.patient.Newprescriptionissueview</class>
    <class>com.iics.patient.Servicedprescriptionstats</class>
    <class>com.iics.store.Unservicedorder</class>
    <class>com.iics.store.Unservicedorderitem</class>
    <class>com.iics.dashboard.Timeontaskview</class>
    <class>com.iics.domain.Buildingfloors</class>
    <class>com.iics.domain.Facilitybuildings</class>

	<class>com.iics.patient.Issuedprescriptionitemsview</class>
	<class>com.iics.patient.Patientinterimdiagnosis</class>    <properties>
      <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <!--Hibernate Envers
      <property name="hibernate.ejb.event.post-insert" value="org.hibernate.envers.event.AuditEventListener"/>
      <property name="hibernate.ejb.event.post-update" value="org.hibernate.envers.event.AuditEventListener"/>
      <property name="hibernate.ejb.event.post-delete" value="org.hibernate.envers.event.AuditEventListener"/>
      <property name="hibernate.ejb.event.pre-collection-update" value="org.hibernate.envers.event.AuditEventListener"/>
      <property name="hibernate.ejb.event.pre-collection-remove" value="org.hibernate.envers.event.AuditEventListener"/>
      <property name="hibernate.ejb.event.post-collection-recreate" value="org.hibernate.envers.event.AuditEventListener"/> -->
    </properties>
  </persistence-unit>
</persistence>
